<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seopftware.fundmytravel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- sms 문자 인증을 위한 permission -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 내 폰 번호를 가져오기 위한 permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- AppRTC를 위한 permission -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- NumberPicker 진동을 위한 permission -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 구글맵 퍼미션 -->
    <uses-permission android:name="com.google.maps.android.utils.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- some devices need it -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".function.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- google maps API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCS7QdtueWQ5yWXNJqqaXZe12jCWo2sJ9g" />

        <activity
            android:name=".activity.Intro_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".function.streaming.Streaming_Acticity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.Home_Activity" />
        <activity android:name=".function.streaming.BeforeStreaming_Activity" />
        <activity android:name=".function.streaming.PlayerStreaming_Activity" />
        <activity
            android:name=".function.chatting.Chatroom_Activity"
            android:label="@string/title_activity_chat_" />
        <activity android:name=".activity.Login_Phone_Activity" />
        <activity android:name=".activity.Login_Phone2_Activity" />

        <service
            android:name=".function.chatting.Chat_Service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".webrtc.Call_Activity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="fullUser"
            android:theme="@style/CallActivityTheme" />
        <activity android:name=".activity.Home_Profile_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="appr.tc"
                    android:scheme="https" />
                <data
                    android:host="appr.tc"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Videocall_Receive_Activity" />

        <receiver
            android:name=".webrtc.VideoCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="seopftware.fundmytravel.chatmessage.SEND_VIDEO_CALL" />
            </intent-filter>
        </receiver>

        <activity android:name=".function.googlevision.FaceDetect_Activity" />
        <activity android:name=".function.googlevision.FaceCanvas_Activity" />
        <activity
            android:name=".function.googlevision.sticker.Material_Activity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".function.googlevision.canvas.ColorPalette_Activity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".function.googlevision.canvas.PenPalette_Activity"
            android:theme="@style/Base.Theme.AppCompat.Dialog.Alert" />
        <activity android:name=".activity.Pic_Receive_Activity" />
        <activity android:name=".function.googlemap.CustomMarkerClusteringDemoActivity" />
        <activity android:name=".function.googlemap.GoogleMap_Main_Activity" />
        <activity android:name=".function.googlemap.map" />
        <activity android:name=".maps.MainActivity" />
        <activity
            android:name=".maps.BasicMapDemoActivity"
            android:label="@string/basic_map_demo_label" />
        <activity
            android:name=".maps.CameraDemoActivity"
            android:label="@string/camera_demo_label" />
        <activity
            android:name=".maps.CameraClampingDemoActivity"
            android:label="@string/camera_clamping_demo_label" />
        <activity
            android:name=".maps.CircleDemoActivity"
            android:label="@string/circle_demo_label" />
        <activity
            android:name=".maps.EventsDemoActivity"
            android:label="@string/events_demo_label" />
        <activity
            android:name=".maps.GroundOverlayDemoActivity"
            android:label="@string/ground_overlay_demo_label" />
        <activity
            android:name=".maps.IndoorDemoActivity"
            android:label="@string/indoor_demo_label" />
        <activity
            android:name=".maps.LayersDemoActivity"
            android:label="@string/layers_demo_label" />
        <activity
            android:name=".maps.LiteDemoActivity"
            android:label="@string/lite_demo_label" />
        <activity
            android:name=".maps.LiteListDemoActivity"
            android:label="@string/lite_list_demo_label" />
        <activity
            android:name=".maps.LocationSourceDemoActivity"
            android:label="@string/location_source_demo_label" />
        <activity
            android:name=".maps.MapInPagerDemoActivity"
            android:label="@string/map_in_pager_demo_label" />
        <activity
            android:name=".maps.MarkerDemoActivity"
            android:label="@string/marker_demo_label" />
        <activity
            android:name=".maps.MarkerCloseInfoWindowOnRetapDemoActivity"
            android:label="@string/marker_close_info_window_on_retap_demo_label" />
        <activity
            android:name=".maps.MultiMapDemoActivity"
            android:label="@string/multi_map_demo_label" />
        <activity
            android:name=".maps.MyLocationDemoActivity"
            android:label="@string/my_location_demo_label" />
        <activity
            android:name=".maps.OptionsDemoActivity"
            android:label="@string/options_demo_label" />
        <activity
            android:name=".maps.PolygonDemoActivity"
            android:label="@string/polygon_demo_label" />
        <activity
            android:name=".maps.PolylineDemoActivity"
            android:label="@string/polyline_demo_label" />
        <activity
            android:name=".maps.ProgrammaticDemoActivity"
            android:label="@string/programmatic_demo_label" />
        <activity
            android:name=".maps.RawMapViewDemoActivity"
            android:label="@string/raw_map_view_demo_label" />
        <activity
            android:name=".maps.RetainMapDemoActivity"
            android:label="@string/retain_map_demo_label" />
        <activity
            android:name=".maps.SaveStateDemoActivity"
            android:label="@string/save_state_demo_label" />
        <activity
            android:name=".maps.SnapshotDemoActivity"
            android:label="@string/snapshot_demo_label" />
        <activity
            android:name=".maps.SplitStreetViewPanoramaAndMapDemoActivity"
            android:label="@string/split_street_view_panorama_and_map_demo_label" />
        <activity
            android:name=".maps.StreetViewPanoramaBasicDemoActivity"
            android:label="@string/street_view_panorama_basic_demo_label" />
        <activity
            android:name=".maps.StreetViewPanoramaEventsDemoActivity"
            android:label="@string/street_view_panorama_events_demo_label" />
        <activity
            android:name=".maps.StreetViewPanoramaNavigationDemoActivity"
            android:label="@string/street_view_panorama_navigation_demo_label" />
        <activity
            android:name=".maps.StreetViewPanoramaOptionsDemoActivity"
            android:label="@string/street_view_panorama_options_demo_label" />
        <activity
            android:name=".maps.StreetViewPanoramaViewDemoActivity"
            android:label="@string/street_view_panorama_view_demo_label" />
        <activity
            android:name=".maps.StyledMapDemoActivity"
            android:label="@string/styled_map_demo_label" />
        <activity
            android:name=".maps.TagsDemoActivity"
            android:label="@string/tags_demo_label" />
        <activity
            android:name=".maps.TileCoordinateDemoActivity"
            android:label="@string/tile_coordinate_demo_label" />
        <activity
            android:name=".maps.TileOverlayDemoActivity"
            android:label="@string/tile_overlay_demo_label" />
        <activity
            android:name=".maps.UiSettingsDemoActivity"
            android:label="@string/ui_settings_demo_label" />
        <activity
            android:name=".maps.VisibleRegionDemoActivity"
            android:label="@string/visible_region_demo_label" />
        <activity android:name=".maps2.BaseGoogleMapsActivity" />
        <activity android:name=".maps2.ARNavigation_Activity" />
        <activity android:name=".maps2.FindAddress_Activity" />
        <activity android:name=".maps2.MapNavigation_Activity" />
        <activity android:name=".function.streaming.Vodplayer_Activity" />
        <activity android:name=".function.vodEmoticon.FbLiveVideoReactionDemoActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".function.streaming.StreamerFinish_Activity" />
        <activity android:name=".function.streaming.PlayerFinish_Activity" />
        <activity
            android:name=".function.streaming.PlayerStarSend_Activity"
            android:theme="@style/CustomActivityDialog" />
    </application>

</manifest>